    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
      <div class="container-fluid">
        <%= link_to "/", class: "navbar-brand" do %>
        <%= cl_image_tag ('anfwusuyah5njujbha3i') %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <div class="nav-btn">
              <%= link_to "Mes annonces", my_pokemons_path , class: "nav-link text-white" %>
              <%= link_to "Mettre un Pokémon à louer", "/pokemons/new", class: "nav-link text-white" %>
            </div>
              <li class="nav-item dropdown">
                <%= cl_image_tag ('jizjqyvdasyyuzisqduu'), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "Messages", "#", class: "dropdown-item" %>
                    <%= link_to "Mes réservations", "/my_bookings", class: "dropdown-item" %>
                    <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                  </div>
              </li>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
          </div>
      </div>
    </div>
