<div id="<%= dom_id booking %>">
  <p>
    <strong> First Name:</strong>
    <%= booking.user.first_name %>
  </p>

   <p>
    <strong> Last Name:</strong>
    <%= booking.user.last_name %>
  </p>

  <p>
    <strong> Pokemon Name:</strong>
    <%= booking.pokemon.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= booking.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= booking.end_date %>
  </p>

</div>
