<%= render "pages/shared/navbar" %>

<div class="b-title-container">
    <div class="back-container">
      <i class="fa-solid fa-arrow-left b-icon"></i>
      <%= link_to "Retour", :back, class:"b-back" %>
    </div>
  </div>

  <div class="tabs" data-controller="toggle-booking">
    <div class="tab-registers">
        <button class="active-tab" data-action='click->toggle-booking#showOffers' data-toggle-booking-target="titleo"><h1>Mes annonces</h1></button>
        <button class="inactive-tab" data-action='click->toggle-booking#showBookings' data-toggle-booking-target="titleb"><h1>Mes réservations</h1></button>
    </div>

    <div class="tab-bodies">
      <div style="display:block" data-toggle-booking-target="offers" id="aa">

        <div class="b-parent-container">
          <div class="all-status">
            <div class="b-status-container" id="progress" data-controller ="toggle" >
              <div class="b-text-container" id="progress-text">
                <p>Réservations en attente de validation</p>
              <button class="btn-toggle" data-action="click->toggle#fire">
                <%= image_tag "vector.png", class:"vector", data: { toggle_target: "arrow" } %>
              </button>
              </div>
              <div class="booking-container" data-toggle-target="button" >
                <% @bookings.each do |booking| %>
                <% if booking.pokemon.user_id == current_user.id && booking.status == nil %>
                  <%= link_to pokemon_booking_path(booking.pokemon, booking), class: "link" do %>
                    <div class="b-booking">
                      <div class="b-img-container">
                        <%# <%= cl_image_tag booking.pokemon.photo.key, class: "b-img" %>
                      </div>
                      <div class="b-infos-container">
                        <div class="b-name-container">
                          <span class="signet">Nom</span>
                          <p><%= booking.pokemon.name %></p>
                        </div>
                        <div class="b-price-container">
                          <span class="signet">Prix</span>
                          <p><%= booking.pokemon.price %></p>
                        </div>
                        <div class="b-date-container">
                          <span class="signet">Début</span>
                          <p><%= booking.start_date.strftime('%d') %>-<%= booking.start_date.strftime('%b') %>-<%= booking.start_date.strftime('%y') %></p>
                        </div>
                        <div class="b-date-container">
                          <span class="signet">Fin</span>
                          <p><%= booking.end_date.strftime('%d') %>-<%= booking.end_date.strftime('%b') %>-<%= booking.end_date.strftime('%y') %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <% end %>
                  <% end %>
              </div>
            </div>
            <div class="b-status-container" data-controller ="toggle">
              <div class="b-text-container" >
                <p>Réservations Validé</p>
              <button class="btn-toggle" data-action="click->toggle#fire">
                <%= image_tag "vector.png", class:"vector", data: { toggle_target: "arrow" } %>
              </button>
              </div>
              <div class="booking-container" id="valid-container"  data-toggle-target="button" >
                <% @bookings.each do |booking| %>
                <% if booking.pokemon.user_id == current_user.id && booking.status == true %>
                  <%= link_to pokemon_booking_path(booking.pokemon, booking), class: "link" do %>
                    <div class="b-booking">
                      <div class="b-img-container">
                        <%= cl_image_tag booking.pokemon.photo.key, class: "b-img" %>
                      </div>
                      <div class="b-infos-container">
                        <div class="b-name-container">
                          <span class="signet">Nom</span>
                          <p><%= booking.pokemon.name %></p>
                        </div>
                        <div class="b-price-container">
                          <span class="signet">Prix</span>
                          <p><%= booking.pokemon.price %></p>
                        </div>
                        <div class="b-date-container">
                          <span class="signet">Début</span>
                          <p><%= booking.start_date.strftime('%d') %>-<%= booking.start_date.strftime('%b') %>-<%= booking.start_date.strftime('%y') %></p>
                        </div>
                        <div class="b-date-container">
                          <span class="signet">Fin</span>
                          <p><%= booking.end_date.strftime('%d') %>-<%= booking.end_date.strftime('%b') %>-<%= booking.end_date.strftime('%y') %></p>
                        </div>
                      </div>
                    </div>
                <% end %>
                <% end %>
                <% end %>
              </div>
            </div>
            <div class="b-status-container" id="refuse" data-controller ="toggle">
              <div class="b-text-container" id="refuse-text">
                <p>Réservations Refusé</p>
                <button class="btn-toggle" data-action="click->toggle#fire">
                  <%= image_tag "vector.png", class:"vector", data: { toggle_target: "arrow" } %>
                </button>
              </div>
              <div class="booking-container" data-toggle-target="button">
                <% @bookings.each do |booking| %>
                <% if booking.pokemon.user_id == current_user.id && booking.status == false %>
                <%= link_to pokemon_booking_path(booking.pokemon, booking), class: "link" do %>
                  <div class="b-booking">
                    <div class="b-img-container">
                      <%= cl_image_tag booking.pokemon.photo.key, class: "b-img" %>
                    </div>
                    <div class="b-infos-container">
                      <div class="b-name-container">
                        <span class="signet">Nom</span>
                        <p><%= booking.pokemon.name %></p>
                      </div>
                      <div class="b-price-container">
                        <span class="signet">Prix</span>
                        <p><%= booking.pokemon.price %></p>
                      </div>
                      <div class="b-date-container">
                        <span class="signet">Début</span>
                        <p><%= booking.start_date.strftime('%d') %>-<%= booking.start_date.strftime('%b') %>-<%= booking.start_date.strftime('%y') %></p>
                      </div>
                      <div class="b-date-container">
                        <span class="signet">Fin</span>
                        <p><%= booking.end_date.strftime('%d') %>-<%= booking.end_date.strftime('%b') %>-<%= booking.end_date.strftime('%y') %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div style="display:none" data-toggle-booking-target="bookings">
      <div class="container">
            <div class="parent-container" >
                <% @bookings.each do |booking| %>
                  <%= link_to pokemon_booking_path(booking.pokemon, booking), class: "link" do %>
                    <% if booking.user_id == current_user.id %>
                      <%= link_to pokemon_booking_path(booking.pokemon, booking), class: "link" do %>
                        <div class="b-booking">
                          <div class="b-img-container">
                            <%= cl_image_tag booking.pokemon.photo.key, class: "b-img" %>
                          </div>
                          <div class="b-infos-container">
                            <div class="b-name-container">
                              <span class="signet">Nom</span>
                              <p><%= booking.pokemon.name %></p>
                            </div>
                            <div class="b-price-container">
                              <span class="signet">Prix</span>
                              <p><%= booking.pokemon.price %></p>
                            </div>
                            <div class="b-date-container">
                              <span class="signet">Début</span>
                              <p><%= booking.start_date.strftime('%d') %>-<%= booking.start_date.strftime('%b') %>-<%= booking.start_date.strftime('%y') %></p>
                            </div>
                            <div class="b-date-container">
                              <span class="signet">Fin</span>
                              <p><%= booking.end_date.strftime('%d') %>-<%= booking.end_date.strftime('%b') %>-<%= booking.end_date.strftime('%y') %></p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
            </div>
          </div>
      </div>
</div>
</div>

<%= render "pages/shared/footer" %>
