


<%= form_with model: [@pokemon, @booking] do |f| %>
<div>
  <%= f.label "Date de départ" %>
  <%= f.text_field :start_date %>
</div>

<div>
  <%= f.label "Date de fin" %>
  <%= f.text_field :end_date %>
</div>

  <%= f.submit %>

<% end %>
