<!--navbar-->
<%= render "pages/shared/navbar" %>

<!--banner-->
  <div class="banner" >
    <div class="search-container">
      <div class="text-container">
        <h1>PokeLoc</h1>
        <p>Louez votre Pokémon !</p>
      </div>
      <div class="form-container">
        <form class="flex-form" action="/">
          <label for="from">Pokemon</label>
          <input type="search" placeholder="Ex : Pikachu...">
          <input type="submit" value="Recherche">
        </form>
      </div>
      <div class="img-container">
        <img class="sacha" src="https://resize-gulli.jnsmedia.fr/r/890,__ym__/img//var/jeunesse/storage/images/canalj2020/heros/pokemon-saison-23-les-voyages/les-personnages/sasha/28757156-1-fre-FR/Sasha.png" alt="">
      </div>
    </div>
    <div
      style="width: 450px; height: 590px; border-radius: 40px"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      class="map-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path('xphtohpwnlzq2whzpw89') %>)">
</div>


<div class="parent-container">
 <% @pokemons.each do |pokemon| %>
  <div class="main-container">
    <div class="img-container">
      <%# <%= cl_image_tag(pokemon.photo.key, width: 300, height: 300, crop: :fill, class: "img-pokemon" )%> %>
    </div>
    <div class="info-container">
      <h2><%= pokemon.name %></h2>
      <p><%= pokemon.address %></p>
      <p><strong><%= pokemon.price %> €</strong> par jour</p>
  <%= link_to pokemon_path(pokemon), class: "text-decoration-none text-black" do %>
    <div class="main-container">
      <div class="img-container">
      <%# <% if pokemon.photo.attached? %> %>
        <%# <%= cl_image_tag(pokemon.photo.key, width: 300, height: 300, crop: :fill, class: "img-pokemon" )%> %>
      <%# <% else %> %>

      <%# <% end %> %>

      </div>
      <div class="info-container">
        <h2><%= pokemon.name %></h2>
        <p><%= pokemon.address %></p>
        <p><strong><%= pokemon.price %> €</strong> par jour</p>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<!--footer-->
<%= render "pages/shared/footer" %>
