<!--navbar-->
<%= render "pages/shared/navbar" %>

<!--banner-->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path('xphtohpwnlzq2whzpw89', gravity: :south) %>');">
    <div class="container">
      <h1>PokeLoc</h1>
      <p>Louez votre Pokémon !</p>
        <div class="cover">
          <form class="flex-form" action="/">
            <label for="from">Pokemon</label>
            <input type="search" placeholder="Ex : Pikachu...">
            <input type="submit" value="Recherche">
          </form>
        </div>
    </div>
  </div>


<div class="parent-container">
 <% @pokemons.each do |pokemon| %>
  <div class="main-container">
  <%= link_to "", pokemon_path(pokemon) %>
    <div class="img-container">
      <%= cl_image_tag(pokemon.photo.key, width: 300, height: 300, crop: :fill, class: "img-pokemon" )%>
    </div>
    <div class="info-container">
      <h2><%= pokemon.name %></h2>
      <p><%= pokemon.address %></p>
      <p><strong><%= pokemon.price %> €</strong> par jour</p>
    </div>
  </div>
<% end %>
</div>



<!--footer-->

<%= render "pages/shared/footer" %>
