<!--navbar-->
<%= render "pages/shared/navbar" %>

<!--banner-->
  <div class="banner" >
    <div class="search-container">
      <div class="text-container">
        <h1>PokeLoc</h1>
        <p>Louez votre Pokémon !</p>
      </div>
      <div class="form-container">
        <form class="flex-form" action="/">
          <label for="from">Pokemon</label>
          <input type="search" placeholder="Ex : Pikachu...">
          <input type="submit" value="Recherche">
        </form>
      </div>
      <div class="img-container">
        <img class="sacha" src="https://resize-gulli.jnsmedia.fr/r/890,__ym__/img//var/jeunesse/storage/images/canalj2020/heros/pokemon-saison-23-les-voyages/les-personnages/sasha/28757156-1-fre-FR/Sasha.png" alt="">
      </div>
    </div>
    <div
      style="width: 450px; height: 590px; border-radius: 40px"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      class="map-container">
    </div>
  </div>

<div class="parent-container">
  <% @pokemons.each do |pokemon| %>
    <%= link_to pokemon_path(pokemon), class: "link" do %>
      <div class="main-container">
        <div>
          <%= cl_image_tag pokemon.photo.key, height: 300, width: 400, crop: :fill, id: "pokemon-img" %>
        </div>
        <div class="info-container">
          <h2><%= pokemon.name %></h2>
          <h2><%= pokemon.address %></h2>
          <h2><%= pokemon.price %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!--footer-->
<%= render "pages/shared/footer" %>
