<!--navbar-->
<%= render "pages/shared/navbar" %>

<!--banner-->
  <div class="banner" >
    <div class="text-container">
      <h1>PokeLoc</h1>
      <p>Louez votre Pokémon !</p>
    </div>
    <div class="b-container">
      <div class="search-container">
        <div class="row justify-content-center">
          <div class="col-sm-8 my-3">
            <%= form_with url: root_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Pikachu..."
                %>
              <%= submit_tag "Rechercher", name: "", class: "btn form-submit" %>
            <% end %>
          </div>
        </div>
        <div class="img-container">
          <img class="sacha" src="https://resize-gulli.jnsmedia.fr/r/890,__ym__/img//var/jeunesse/storage/images/canalj2020/heros/pokemon-saison-23-les-voyages/les-personnages/sasha/28757156-1-fre-FR/Sasha.png" alt="">
        </div>
      </div>
      <div
        style="width: 700px; height: 400px; border-radius: 40px"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        class="map-container">
      </div>
    </div>
  </div>

<div class="parent-container">
  <% if @pokemons.any? %>
      <% @pokemons.each do |pokemon| %>
        <%= link_to pokemon_path(pokemon), class: "link" do %>
          <div class="main-container">
            <div>
            <% if pokemon.photo.attached? %>
              <%= cl_image_tag pokemon.photo.key, height: 300, width: 400, crop: :fill, class: "pokemon-img" %>
              <% else %>
              <img src="https://i.pinimg.com/474x/1e/60/87/1e6087cf114c7ced058e98dc1124634d.jpg" alt="" class="pokemon-img">
              <% end %>
            </div>
            <div class="info-container">
              <h4><%= pokemon.name.capitalize %></h4>
              <h6><%= pokemon.address.upcase %></h6>
              <p><%= pokemon.price %> € / jour</p>
            </div>
          </div>
        <% end %>
      <% end %>
  <% else %>
    <em>Aucun résultat pour cette recherche</em>
  <% end %>
</div>

<!--footer-->
<%= render "pages/shared/footer" %>
