<%= render "pages/shared/navbar" %>

<div class="p-parent-container">
  <div class="p-left-container">
    <div class="p-text-container">
      <h1 id="p-title" >Editer votre annonce Pokemon</h1>
    </div>
  </div>

  <div class="p-form-container">
    <div class="back-container mb-3">
      <i class="fa-solid fa-arrow-left b-icon"></i>
      <%= link_to "Retour", pokemon_path(@pokemon), class:"b-back" %>
    </div>
    <%= simple_form_for(@pokemon) do |f| %>
      <%= f.input :name, label: "Nom", input_html: { class:"p-input" }%>
      <%= f.input :address, label: "Adresse", input_html: { class:"p-input" } %>
      <%= f.input :price, label: "Prix", input_html: { class:"p-input" } %>
      <%= f.input :photo %>
      <%= f.submit "Valider les modifications",  class:"p-submit"%>
    <% end %>
  </div>
</div>

<%= render "pages/shared/footer" %>
