<%= render "pages/shared/navbar" %>

<div class="container">
  <% if @my_pokemons.length == 0 %>
    <h1>Vous n'avez pas d'annonces publiées</h1>
  <% else %>
    <h1>Vos annonces publiées</h1>
    <div class="parent-container">
      <% @my_pokemons.each do |pokemon| %>
          <%= link_to pokemon_path(pokemon), class: "link" do %>
            <div class="card-product" id="my-pokemons-card">
              <% if pokemon.photo.attached? %>
                <%= cl_image_tag pokemon.photo.key %>
              <% else %>
                <img src="https://i.pinimg.com/474x/1e/60/87/1e6087cf114c7ced058e98dc1124634d.jpg" alt="">
                <% end %>
              <div class="card-product-infos">
                <h2><%= pokemon.name %></h2>
                <p><%= pokemon.price %>€ / jour</p>
              </div>
            </div>
        <% end %>
        <% end %>
    </div>
  </div>
<% end %>

<%= render "pages/shared/footer" %>
