<%= render "pages/shared/navbar" %>

<div class="p-parent-container">
 <div class="p-left-container">
  <div class="p-form-container">
    <div class="p-text-container">
      <h1 id="p-title" >Créer une nouvelle annonce <br> Pokemon</h1>
    </div>
    <%= simple_form_for(@pokemon)do |f| %>
      <%= f.input :name, label: "Nom du Pokémon",input_html: { class:"p-input" }%>
      <%= f.input :address, label: "Adresse", input_html: { class:"p-input" } %>
      <%= f.input :price, label: "Prix par jour", input_html: { class:"p-input", min: 0 } %>
      <%= f.input :photo, as: :file%>
      <%= f.submit "Enregistrer mon annonce Pokémon",  class:"p-submit"%>
    <% end %>
    <div class="p-container-back">
      <%= link_to "Retour", root_path, class: 'p-back' %>
    </div>
  </div>
 </div>
</div>

<%= render "pages/shared/footer" %>
