

<div class="p-parent-container">
 <div class="p-left-container">
  <div class="p-form-container">
    <div class="p-text-container">
      <h1 id="p-title" >Créer une nouvelle annonce <br> Pokemon</h1>
    </div>
    <%= simple_form_for(@pokemon)do |f| %>
      <%= f.input :name, label: "Nom du Pokémon",input_html: { class:"p-input" }%>
      <%= f.input :address, label: "Adresse", input_html: { class:"p-input" } %>
      <%= f.input :price, label: "Prix par jour", input_html: { class:"p-input" } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Enregistrer mon annonce Pokémon",  class:"p-submit"%>
    <% end %>
    <div class="p-container-back">
      <%= link_to "Retour", root_path, class: 'p-back' %>
    </div>
  </div>
 </div>
</div>


<%# <div class="form">
  <div class="p-header">
    <h2>Ajoute ton nouveau Pokémon</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit magnam dolore porro iste vitae </p>
    </div>
  <div class="p-body">
    <div class="pagination">
      <div class="number active">1</div>
      <div class="bar"></div>
      <div class="number">2</div>
      <div class="bar"></div>
      <div class="number">3</div>
      <div class="bar"></div>
    </div>
    <div class="steps"></div>
  </div>
</div> %>
