<%= render "pages/shared/navbar" %>

<div class="container">

<div class="pokemon-card">
  <%= cl_image_tag(@pokemon.photo.key, width: 300, height: 300, crop: :fill, class: "img-pokemon" )%>
<%= @pokemon.name %>
<%= @pokemon.address %>
<%= @pokemon.price %>
</div>

<div>
<%= link_to "Réservez ce Pokémon", new_pokemon_booking_path(@pokemon)  %>
</div>

</div>
