

<div>
<h1>Pokemon show page</h1>
<div>
  <%= @pokemon.name %>
  <%= @pokemon.address %>
  <%= @pokemon.price %>
</div>

<div style="width: 600px; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div>
  <% if current_user == @pokemon.user %>
    <%= link_to "Editer votre annonce", edit_pokemon_path(@pokemon) %>
    <br>
    <%= link_to "Retirer votre annonce", pokemon_path(@pokemon),
  data: {turbo_method: :delete, turbo_confirm: "Confirmer la suppression de l'annonce #{@pokemon.name}?"} %>
  <% else %>
    <%= link_to "Réserver ce Pokémon", new_pokemon_booking_path(@pokemon)
     %>
  <% end %>
</div>

<%= link_to "Retour", root_path %>

</div>
