

<div>
<h1>Pokemon show page</h1>
<div>
  <%= @pokemon.name %>
  <%= @pokemon.address %>
  <%= @pokemon.price %>
</div>

<div>
  <% if current_user == @pokemon.user %>
    <%= link_to "Editer votre annonce", edit_pokemon_path(@pokemon) %>
  <% else %>
    <%= link_to "Réserver ce Pokémon", new_pokemon_booking_path(@pokemon)
     %>
  <% end %>
</div>

<%= link_to "Retour", root_path %>

</div>
